<div class = "hero">
	
	<nav class = "hero-nav">
		<%= link_to "Community", '#', class: "hero-nav-a" %>
		<%= link_to "Guides", '#', class: "hero-nav-a" %>
		<%= link_to "Shop", '#', class: "hero-nav-a" %>
		<%= link_to "Help", '#', class: "hero-nav-a" %>
	</nav>
	
</div>

<div class = "main-wrapper group">

	<div class = "pages group">

		<div class = "pages-section group">
			
			<div class = "section-title group">
				<h1 class = "section-title-words group" >Main</h1>
			</div>
			
			<div class = "sections">
			
			<% @subforums.each do |subforum| %>
	
				<%= render subforum %>
				
			<% end %>
			
			</div>
			
			
		</div>

	</div>

</div>
