<div class = "topic-show-posts group">

	<div class = "topic-show-user-header group">
		<p class = "topic-show-user-username"><%= reply.user.username %></p>
		<p class = "topic-show-reply-number">#1</p>
	</div>
	<div class = "topic-show-reply-content group">
		<div class = "topic-show-user-info group">
			<%= image_tag(reply.user.avatar, class: "topic-show-user-avatar") %>
			<p class = "topic-show-user-replies"><%= reply.user.replies.size %> Posts</p>
			<p class = "topic-show-user-joined">Joined <%= reply.user.created_at.strftime("%d %b %Y") %></p>
			<% if can? :destroy, reply %>
		    	<p class = "topic-show-user-replies"><%= link_to "Delete", reply, method: :delete, data: {confirm: "You sure?"} %></p>
		    <% end %>
		</div>
		<div class = "topic-show-reply-words"><%= reply.content %></div>
	</div>
	
</div>