<div class = "topic-page group">
			
	<div class = "topic-page-left group">
		<%= link_to topic.title, topic_path(topic), class: "topic-page-title group" %>
	</div>
	
	<div class = "topic-page-right group">
		<div class = "topic-page-stats group">
			<p class = "topic-page-threads group"><%= topic.replies.size %> Replies</p>
			<p class = "topic-page-posts group">Views</p>
		</div>

		<% if topic.replies.size < 1 %>
			<div class = "topic-page-recent-thread-topic group">
				<%= image_tag(topic.user.avatar, class: "topic-page-recent-user group") %>
				<div class = "topic-page-recent-thread-topic-2">				
					<p class = "topic-page-recent-thread-title"><%= topic.user.username %></p>
					<p class = "topic-page-recent-thread group"><%= topic.created_at.strftime("%d %b %Y") %></p>
				</div>				
			</div>
		<% else %>
		
		<% topic.replies.order("created_at DESC").limit(1).each do |reply| %>
			<div class = "topic-page-recent-thread-topic group">
				<%= image_tag(reply.user.avatar, class: "topic-page-recent-user group") %>
				<div class = "topic-page-recent-thread-topic-2">				
					<p class = "topic-page-recent-thread-title"><%= reply.user.username %></p>
					<p class = "topic-page-recent-thread group"><%= reply.created_at.strftime("%d %b %Y") %></p>
				</div>				
			</div>
		<% end %>
		
		<% end %>
	</div>
	
</div>

