<div class = "topic-show-header">
	<div class = "topic-show-header-left">
		<h1 class = "topic-show-title"><%= @topic.title %></h1>
		<p class = "topic-show-description">Started by <%= @topic.user.username %>, <%= @topic.created_at.strftime("%d %b %Y")%></p>
	</div>
</div>

<div class = "topic-show-posts group">

	<div class = "topic-show-user-header group">
		<p class = "topic-show-user-username"><%= @topic.user.username %></p>
		<p class = "topic-show-reply-number">#1</p>
	</div>
	<div class = "topic-show-reply-content group">
		<div class = "topic-show-user-info">
			<%= image_tag(@topic.user.avatar, class: "topic-show-user-avatar") %>
			<p class = "topic-show-user-replies"><%= @topic.user.replies.size %> Posts</p>
		</div>
		<div class = "topic-show-reply-words"><%= @topic.content %></div>
	</div>
	
</div>





<% @topic.replies.order("created_at ASC").each do |reply| %>
	
		<%= render reply %>
		
	<% end %>


<%= render 'replies/form' %>
