<div>
	<div>
		<%= form_for(@subforum) do |f| %>

			<%= f.label :title %>
			<%= f.text_field :title %>
		  
			<%= f.label :description %>
			<%= f.text_field :description %>

			<%= f.label :subheading %>
			<%= f.select :subheading, options_for_select(Subforum::SUBHEADINGS, @subforum.subheading) %>
		 
		 	<% if current_page?(controller: 'subforums', action: 'new') %>
				<%= f.submit  "Create Subforum", data: {disable_with: "Creating..."} %> 
			<% else current_page?(controller: 'subforums', action: 'edit') %>
				<%= f.submit  "Edit Subforum",  data: {disable_with: "Updating..."} %>
			<% end %>
		  
		<% end %>
	</div>
</div>
