<div class = "section-page group">
			
	<div class = "section-page-left group">
		<%= link_to subforum.title, subforum_path(subforum), class: "section-page-title group" %>
		<p class = "section-page-description group"><%= subforum.description %></p>
	</div>
	<div class = "section-page-right group">
		<div class = "section-page-stats group">
			<p class = "section-page-threads group"><%= subforum.topics.size %> Topics</p>
			<p class = "section-page-posts group"><%= subforum.replies.size %> Posts</p>
		</div>
		<% subforum.topics.order("created_at DESC").limit(1).each do |topic| %>
		<div class = "section-page-recent-thread-section">
			<%= image_tag(topic.user.avatar, class: "section-page-recent-user group") %>
			<div class = "section-page-recent-thread-section-2">				
					<p class = "section-page-recent-thread-title"><%= topic.title %></p>
					<p class = "section-page-recent-thread group"><%= topic.user.username %></p>
				<% end %>
				
				
			</div>
		</div>
	</div>

</div>
			