<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class = "header group">
		
		<% if user_signed_in? %>
			<div class = "header-logged-in group" >
				<%= image_tag(current_user.avatar, class: "header-profile-pic group") %>
				<%= link_to current_user.username , '#', class: "header-username group" %>
				<%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "header-logout group" %>
			</div>
		<% else %>
			<div class = "header-logged-out group">
				<%= image_tag('key.png', class: "signin-logo group" ) %>
				<%= link_to "Sign In", new_user_session_path, class: "header-sign-in group" %>
				<%= image_tag('register.png', class: "register-logo group" ) %>
				<%= link_to "Register", new_user_registration_path, class: "header-register group" %>
			</div>
		<% end %>
		
	</header>

<%= yield %>

</body>
</html>
